<template>
   <div>
       <div class="card mb-4">
            <div class="card-header">
                  Nuevo Registro
            </div>
            <div class="card-body">
             <form @submit.prevent = "submit" id="createPost"> 
                 <div class="form-group">
                     <label for="title">Nombre</label>
                     <input class="form-control" id="title" name="title" type="text" placeholder="Nombre" v-model="form.title" autocomplete="off">

                 </div>
           
            <div class="form-group">
                <label for="title">CI</label>
               <input class="form-control" id="ci" name="ci" type="text" placeholder="Registrar CI" v-model="form.ci" autocomplete="off">

            </div>
             <div class="form-group">
                <label for="title">Edad</label>
               <input class="form-control" id="edad" name="edad" type="text" placeholder="Registrar Edad" v-model="form.edad" autocomplete="off">

            </div>
            <div class="form-group">
                <label for="title">Carrera</label>
               <input class="form-control" id="carrera" name="carrera" type="text" placeholder="Registrar Carrera" v-model="form.carrera" autocomplete="off">

            </div>
            <div class="form-group">
                <label for="Form-Control">Area</label>
                <select class="form-control" id="category" name="category" v-model="form.category">
                    <option selected="true" disabled="disabled" value="">Seleccionar Area </option>
                    <option v-for="(category,index) in getCategorys" :key="index" :value="category.id">{{category.name}}</option>

                 </select>
            </div>
            
             <div class="form-group">
                <label for="title">Imagen</label>
                <input class="form-control" id="image" name="image" type="file" placeholder="Subir Imagen" v-on:change="onImageChance">
            </div>
         
           <div class="form-group">
               <label for="body">Observaciones</label>
               <textarea class="form-control" id="body" rows="3" v-model="form.body"></textarea>
               </div>
            <button type="submit" class="btn btn-primary btn-lg btn-block">Registrar Alumno</button>
        </form>
     </div>
    </div>
   </div>
</template>
<script>
import { mapActions, mapGetters } from 'vuex'
export default {
    name: 'Posts',
    data (){
        return {
        form:{
            title:'',
            category:'',
            ci:'',
            edad:'',
            carrera:'',
            body:'',
        },
        image:'' 
     }
    },
    computed:{
        ...mapGetters({
            getCategorys:'category/get_all_categorys'
        })

    },
        methods:{
        ...mapActions({
            send_create_post:'post/createPost',
            get_all_categorys:'category/getCategorysAll'
        }),
        onImageChance(e){
            //console.log(e.target.files[0]);
            this.image = e.target.files[0]
        },
        async submit(){
            //await this.send_create_post(this.form)
            const config = {
                headers:{'content-type':'multipart/form-data'}
            }
            console.log(this.image)
            let formData = new FormData();
            //formData.append('image',this.image)
            formData.append('file',this.image)
            formData.append('form',JSON.stringify(this.form))
            
            //console.log(formData)

            /*for(var key of formData.entries()){
                console.log(key[0] +',' + key[1])
            }*/
            let data = {
                config:config,
                formdata:formData

            }
            try {
                await this.send_create_post(data) 
                $('#createPost')[0].reset()
                this.$swal({
            
                    icon: 'success',
                    title: 'Creado correctamente',
                    showConfirmButton: false,
                    timer: 2500
                })
            } catch (error) {
                let msgError=''
			   let obj = error.response.data.errors
			   for(var prop in obj){
				   if(!obj.hasOwnProperty(prop)) continue
				   obj[prop].forEach(element => {
					   msgError = element + '' + msgError
					   
				   });
			   }
			   
			   this.$swal({
				   icon: 'error',
                   title: 'Oops...',
                   text: msgError,
			   })
                
            }
           
        },
    },
     mounted(){
            this.get_all_categorys()
        }
}
</script>