<template>
   <div>
       <div class="card mb-4">
            <div class="card-header">
                  Editar Registro
            </div>
            <div class="card-body">
             <form @submit.prevent = "submit">
                 <div class="form-group">
                     <label for="title">Nombre</label>
                     <input class="form-control" id="title" name="title" type="text" placeholder="Titulo" v-model="getPost.title" autocomplete="off">

            </div>
            <div class="form-group">
                <label for="title">CI</label>
               <input class="form-control" id="ci" name="ci" type="text" placeholder="Registrar CI" v-model="getPost.ci" autocomplete="off">

            </div>
             <div class="form-group">
                <label for="title">Edad</label>
               <input class="form-control" id="edad" name="edad" type="text" placeholder="Registrar Edad" v-model="getPost.edad" autocomplete="off">

            </div>
            <div class="form-group">
                <label for="title">Carrera</label>
               <input class="form-control" id="carrera" name="carrera" type="text" placeholder="Registrar Carrera" v-model="getPost.carrera" autocomplete="off">

            </div>
           
             <div class="form-group">
                <label for="Form-Control">Area</label>
                <select class="form-control" id="category" name="category" v-model="getPost.categoryId">
                    <option selected="true" disabled="disabled" value="">Seleccionar Area </option>
                    <option v-for="(category,index) in getCategorys" :key="index" :value="category.id">{{category.name}}</option>

                 </select>
            </div>
            
             <div class="form-group">
                <label for="title">Imagen</label>
                <input class="form-control" id="image" name="image" type="file" placeholder="Subir Imagen" v-on:change="onImageChance">
            </div>
           <div class="form-group">
               <label for="body">Observaciones</label>
               <textarea class="form-control" id="body" rows="3" v-model="getPost.body"></textarea>
               </div>
            <button type="submit" class="btn btn-primary btn-lg btn-block">Editar Registro</button>
        </form>
     </div>
    </div>
   </div>
</template>
<script>
import { mapActions, mapGetters } from 'vuex'
export default {
    name: 'Posts',
    data (){
        return {
        form:{
            title:'',
            ci:'',
            edad:'',
            carrera:'',
            category:'',
            body:'',
        },
        image:'' 
     }
    },
    computed:{
        ...mapGetters({
            getCategorys:'category/get_all_categorys',
            getPost:'post/detail_post'
        })

    },
        methods:{
        ...mapActions({
            //send_create_post:'post/createPost',
            get_all_categorys:'category/getCategorysAll',
            get_post: 'post/detailPost',
            edit_post:'post/editPost'
        }),
        onImageChance(e){
            //console.log(e.target.files[0]);
            this.image = e.target.files[0]
        },
        async submit(){
            this.form={
                title:$('#title').val(),
                ci:$('#ci').val(),
                edad:$('#edad').val(),
                carrera:$('#carrera').val(),
                category:$('#category').val(),
                body:$('#body').val(),
                idpost:this.getPost.id
            }
           //await this.send_create_post(this.form)
            const config = {
                headers:{'content-type':'multipart/form-data'}
            }
            console.log(this.image)
            let formData = new FormData();
        
            formData.append('file',this.image)
            formData.append('form',JSON.stringify(this.form))
            formData.append('_method','PUT')//AÑADIR PARA EL METODO PUT
    
            for(var value of formData.values()){
                console.log(value)
            }
            let data = {
                config:config,
                parameter:this.$route.params.slug,
                formdata:formData

            }
            
            await this.edit_post(data)
        },
        
    },
     mounted(){
            //console.log(this.$route.params.slug)
            this.get_all_categorys()
            this.get_post(this.$route.params.slug)
        }
}
</script>