<template>
   <div>
        <NavHome :color="color"/>
          <!-- Masthead-->
        <header class="masthead">
            <div class="container d-flex h-100 align-items-center">
                <div class="mx-auto text-center">
                    <h1 class="mx-auto my-0 text-uppercase"></h1>
                    <h2 class="text-white-50 mx-auto mt-2 mb-5"></h2>
                    
                </div>
            </div>
        </header>
            <!-- About-->
        <section class="about-section text-center" id="about">
           
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 mx-auto">
                        <h2 class="text-white mb-10">PRE UNIVERSITARIO YOPRO</h2>
                        <p class="text-white-70">
                            
                            <a href="https://startbootstrap.com/theme/grayscale/">ESTUDIA POR VOCACION NO POR OBLIGACION</a>
                            
                        </p>
                    </div>
                </div>
                <img class="img-fluid" src="/images/yopro2.jpg" alt="" />
            </div>
        </section>
        <!-- Projects-->
     
        <section class="projects-section bg-light" id="projects">
            <div class="container">
                <!-- Featured Project Row-->
                <div class="row align-items-center no-gutters mb-4 mb-lg-5">
                    <div class="col-xl-8 col-lg-7"><img class="img-fluid mb-3 mb-lg-0" src="/images/yopro3.jpg" alt="" /></div>
                    <div class="col-xl-4 col-lg-5">
                        <div class="featured-text text-center text-lg-left">
                            <h4>CURSOS VIRTUALES PARA EL INGRESO A LA NORMAL</h4>
                            <p class="text-black-50 mb-0">Preparate para ingresar a la NORMAL, Cursos para todas las Areas </p>
                        </div>
                    </div>
                </div>
                <!-- Project One Row-->
                <div class="row justify-content-center no-gutters mb-5 mb-lg-0">
                    <div class="col-lg-6"><img class="img-fluid" src="/images/yopro4.jpg" alt="" /></div>
                    <div class="col-lg-6">
                        <div class="bg-black text-center h-100 project">
                            <div class="d-flex h-100">
                                <div class="project-text w-100 my-auto text-center text-lg-left">
                                    <h4 class="text-white">CURSOS DE PREPARACION PARA EL INGRESO A LA UNIVERSIDAD AUTONOMA TOMAS FRIAS </h4>
                                    <p class="mb-0 text-white-50">Preparate para ingresar a la UNIVERSIDAD, Cursos para todas las Areas</p>
                                    <hr class="d-none d-lg-block mb-0 ml-0" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Project Two Row-->
                <div class="row justify-content-center no-gutters">
                    <div class="col-lg-6"><img class="img-fluid" src="/images/yopro5.jpg" alt="" /></div>
                    <div class="col-lg-6 order-lg-first">
                        <div class="bg-black text-center h-100 project">
                            <div class="d-flex h-100">
                                <div class="project-text w-100 my-auto text-center text-lg-right">
                                    <h4 class="text-white">NUESTRA MISION ES TU ADMISION</h4>
                                    <p class="mb-0 text-white-80"></p>
                                    <hr class="d-none d-lg-block mb-0 mr-0" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Signup-->
    
   </div>
</template>

<script>
import NavHome from '../components/NavHome'
export default {
    name:'Home',
    data(){
        return{
            color:''
        }
    },
    components:{NavHome},
}
</script>