<template>
    <div class="row">
        <div class="col-lg-4 mb-4" v-for="(post,index) in getposts.data" :key="index">
            <div class="card shadow mb-6 h-100" >
                                <!-- Card Header - Dropdown -->
                                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-primary">
                                        <!--<router-link :to="'detail-post/'+post.path">
                                             {{post.title}}

                                        </router-link>-->
                                        <router-link :to="{name: 'dashboard.detailpost', params:{slug:post.path}}">
                                             {{post.user.name}}

                                        </router-link>
                                        <br><div class="col-md-13">
                                            <span class="text-danger text-right d-block">
                                                 {{post.added}}
                                            </span>
                                        </div>
                    
                                    </h6>
                                    <div class="dropdown no-arrow">
                                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
                                            <div class="dropdown-header">Dropdown Header:</div>
                                            <a class="dropdown-item" href="#">Editar</a>
                                            <a class="dropdown-item" href="#">Eliminar</a>
                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item" href="#">Something else here</a>
                                        </div>
                                    </div>
                                </div>
                                <!-- Card Body -->
                                <img :src="post.photo" width="100%" height="200px"/>
                                <div class="card-body">
                                    <div class="col-md-10">
                                        <span class="text-default">
                                            <b>NOMBRE: </b>{{post.title}}
                                       <br></span>
                                        <span class="text-default">
                                            <b>CI: </b>{{post.ci}}</b>
                                       </span>
                                       <br><span class="text-default">
                                            <b>CARRERA: </b>{{post.carrera}}
                                       </span>
                                       <br><span class="text-default">
                                            <b>EDAD: </b>{{post.edad}}
                                       </span>
                                    </div>
                            
                            <!--<p class="lead"><b>OBSERVACIONES: </b>{{post.body.substr(20,20)}}...</p>-->

                                </div>
                            </div>

        </div> 
    </div>
</template>
<script>
import {mapGetters, mapActions} from 'vuex'
export default {
    name: 'Posts',
      computed:{
        ...mapGetters({
            getposts:'post/reponsePosts'
        })
    },
    methods:{
        ...mapActions({
            getallposts:'post/getAllPost',
             signOut:'auth/signOut',
        }),
    },
    created(){
        this.getallposts()
    },
}
</script>